{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "rules": {
      "no-underscore-dangle": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/jsx-no-bind": [1, { "allowFunctions": true }],
      "react/jsx-props-no-spreading": 0,
      "react/prop-types": 0,
      "linebreak-style": 0,
      "jsx-a11y/no-static-element-interactions": 0,
      "jsx-a11y/click-events-have-key-events": 0,
      "jsx-a11y/no-noninteractive-element-interactions": 0,
      "class-methods-use-this": [1, { "exceptMethods": ["_checkResponse"] }]
    }
}
