.button_type_delete {
  width: 18px;
  height: 19px;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url(../../../images/buttons/delete_button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  top: 20px;
  right: 20px;
}

.button_type_delete:hover {
  opacity: 0.6;
}
