.button_place_authorization-submit {
    background: #FFFFFF;
    color: #000000;
    margin-top: 176px;
}

@media screen and (max-width: 580px) {
    .button_place_authorization-submit {
      width: 260px;
      height: 46px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 132px;
    }
  }